{% extends "base.html" %}

{% block body %}
    <div class="container my-3">
        <h3>Please Enter Mobile Number and Message</h3>
        <hr>
        <form action = "SendData" method = "POST">
            {% csrf_token %}
            <div class = "form-group mt-4">
                <label for = "Phone">Enter Phone Number</label>
                <input type = "Phone" required autofocus class = "form-control" name = "Phone" id = "Phone" aria-describedby = "Phone" placeholder = "Please Enter 10 Digit WhatsApp Number">
            </div>
            <div class = "form-group mt-3">
                <label for = "Message">Enter Your Message</label>
                <textarea name= "Message" id = "Message" row = "50" class = "form-control" required placeholder="Write Message.."></textarea>
            </div>
            <input type="Submit" value="Send" class="btn btn-success btn-lg mt-4">
            <a href = "/" class = "btn btn-Secondary btn-lg ml-5 text-light bg-primary mt-4">Clear</a>
            </input>
        </form>
    </div>
{% endblock body %}